// .page-1{
//     background-color: $first-page-bc;
// }
@media screen and (min-width:$desktop-width) {
    .container {

        .page-1-head {

            display: grid;
            grid-template-columns: 1fr 2fr;

            .banner-position {
                display: flex;
                justify-content: end;

                .banner {

                    width: 350px;
                    height: 425px;

                    .meniu {

                        position: absolute;
                        left: 100%;
                        top: 0px;
                    }

                    .banner-child-6 {
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }

        .page-1-footer {
            display: grid;
            grid-template-columns: 1fr 2fr;
            height: 62px;

            .buttons {
            


                img {
                    width: 14px;
                    height: 23px;

                    &:hover {

                        cursor: pointer;
                        opacity: 0.5;
                    }
                }

                div {
                    width: 100px;
                   
                    border-left: 1px solid $banner-text-color;
                    border-right: 1px solid $banner-text-color;
                }
            }

            .DBDBDB {
                background-color: #DBDBDB;
                min-width: 350px;
            }

            .navigation {
                background-color: $footer-bc-color;

            }

        }





    }
}