@media screen and (min-width:$desktop-width) {
    .page-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;

        .picture {
            background-color: $first-page-footer-bc;
            display: flex;
            justify-content: end;
            height: 425px;

            div {
                width: 350px;
                background-color: $second-page-pictur-bc;


            }
        }

        .description {

            padding: 5% 15% 0% 5%;

            .heading {
                padding-bottom: 5%;
            }

            .important-text {
                padding-bottom: 4%;
            }

            .text-gallery {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 4%;
                padding-bottom: 4%;

            }

            .mr-30 {
                padding-right: 13%;
            }


        }

    }







}