@media screen and (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
    .description {
       
        padding: 5% 15% 6% 15%;

        .heading {
            padding-bottom: 5%;
        }

        .important-text {
            padding-bottom: 4%;
        }

        .text-gallery {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 4%;
            padding-bottom: 4%;

        }

        .mr-30 {
            padding-right: 13%;
        }


    }






}