@media screen and (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {

    .container {
        width: 790px;

        .page-1-head {
            padding-left: 10%;
            height: 433px;

            .banner {
                height: 65%;
                width: 300px;

                .meniu {

                    position: absolute;
                    left: 100%;
                    top: 0px;
                }

                .banner-child-6 {
                    right: 0;
                    bottom: 0;
                }
            }

        }

        .page-1-footer {
            display: grid;
            grid-template-columns: 1fr 9fr;
            height: 62px;

            .buttons {
                margin-left: 60%;

                img {
                    width: 14px;
                    height: 23px;

                    &:hover {

                        cursor: pointer;
                        opacity: 0.5;
                    }
                }

                div {
                    width: 100px;
                    //  opacity: 0.20;
                    height: 65px;
                    border-left: 1px solid $banner-text-color;
                    border-right: 1px solid $banner-text-color;
                }
            }

            .DBDBDB {
                background-color: #DBDBDB;
            }

            .navigation {
                background-color: $footer-bc-color;
            }
        }






    }





}