.page-3 {
    background-color: $footer-bc-color;



    .white-picture-left ,.white-picture-right {
    
        
        background-color: $banner-text-color;

    }

    .gallery-text {
        font-family: "Montserrat";
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
        font-style: normal;
        color: $text-color;
        
    }






}