.page-2 {
    

    .description {

        color: $title-text-color;
        font-family: 'Montserrat', sans-serif;

        .heading {

            font-size: 30px;
            font-weight: bold;
            line-height: 36px;

        }

        .important-text {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-decoration: underline;
            text-decoration-color: $title-text-color;
            text-decoration-thickness: 1px;
            text-underline-offset: 8px;
        }

        .text {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            color: #222222;
        }
    }


}