@media screen and (max-width:$mobile-width) {

    .page-3 {
        padding-top: 5%;
        padding-bottom: 10%;

        .padding-l-r {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .white-picture {
                width:400px;
                height: 191px;
                border-radius: 2px;
                background: $banner-text-color;
            }
            .gallery-text{
                margin-bottom: 7.6%;
            }
        }



    }
}