@media screen and (max-width:$mobile-width) {
    .picture {
        position: none;
    }

    .description {
        padding: 5% 10% 6% 10%;
        text-align: center;

        .heading {
            padding-bottom: 6%;
        }

        .mb-5 {
            padding-bottom: 5%;
        }

    }





}