@media screen and (max-width:$mobile-width) {
    .container {


        .page-1-head {

            .banner-position {
                display: flex;
                justify-content: center;

                .banner {
                    width: 271px;
                    height: 425px;

                    .meniu {
                        position: absolute;
                        left: 77%;
                        top: 0px;
                    }

                    .banner-child-6 {
                        left: 25%;
                        bottom: 0;
                    }
                }
            }
        }

        .page-1-footer {
            height: 65px;
            background-color: $footer-bc-color;

            img {
                display: none;
            }
        }





    }





}