@media screen and (max-width:$mobile-width) {

    .page-4 {
        height: 403px;

        iframe {
            height: 100%;
        }

        .page-4-child {
            .announcement-position {
                display: flex;
                justify-content: center;

                .announcement {
                    width: 271px;
                    height: 100%;
                }
            }
        }


    }


}