/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  align-items: center;
  align-content: center;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-row-end {
  display: flex;
  align-items: end;
}

.page-1 .page-1-head {
  background-color: #EEEEEE;
}
.page-1 .page-1-head .banner {
  background: #ED1C24;
  padding: 32px 35px 100px 35px;
  color: #FFFFFF;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.page-1 .page-1-head .banner .meniu {
  width: 63.2px;
  height: 59.1px;
  background-color: #111111;
}
.page-1 .page-1-head .banner .banner-child-1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 80px;
}
.page-1 .page-1-head .banner .banner-child-1 .exhibition {
  position: absolute;
  left: 75px;
  top: 38px;
}
.page-1 .page-1-head .banner .banner-child-1 .E-element {
  position: absolute;
  border-color: #FFFFFF;
  border-width: 3px;
  border-style: solid;
  background: rgba(172, 172, 172, 0);
  font-size: 28px;
  padding: 4px 6px 4px 6px;
  margin-right: 5px;
}
.page-1 .page-1-head .banner .banner-child-2 {
  width: 100.3px;
  height: 19.5px;
  background-color: #111111;
  font-size: 10px;
  line-height: 18px;
  padding-left: 4%;
  margin-bottom: 10px;
}
.page-1 .page-1-head .banner .banner-child-2 .john-doe {
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
}
.page-1 .page-1-head .banner .banner-child-3 {
  width: 70%;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 10px;
}
.page-1 .page-1-head .banner .under-line {
  height: 1px;
  opacity: 0.3;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}
.page-1 .page-1-head .banner .banner-child-4 {
  width: 70%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}
.page-1 .page-1-head .banner .banner-child-5 {
  font-size: 18px;
  margin-bottom: 10px;
}
.page-1 .page-1-head .banner .banner-child-5 img {
  margin-right: 10px;
}
.page-1 .page-1-head .banner .banner-child-6 {
  position: absolute;
}
.page-1 .page-1-head .banner .banner-child-6 div {
  width: 45.1px;
  height: 44.5px;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

@media screen and (min-width: 1024px) {
  .container .page-1-head {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .container .page-1-head .banner-position {
    display: flex;
    justify-content: end;
  }
  .container .page-1-head .banner-position .banner {
    width: 350px;
    height: 425px;
  }
  .container .page-1-head .banner-position .banner .meniu {
    position: absolute;
    left: 100%;
    top: 0px;
  }
  .container .page-1-head .banner-position .banner .banner-child-6 {
    right: 0;
    bottom: 0;
  }
  .container .page-1-footer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 62px;
  }
  .container .page-1-footer .buttons img {
    width: 14px;
    height: 23px;
  }
  .container .page-1-footer .buttons img:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .container .page-1-footer .buttons div {
    width: 100px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }
  .container .page-1-footer .DBDBDB {
    background-color: #DBDBDB;
  }
  .container .page-1-footer .navigation {
    background-color: #111111;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container .page-1-head {
    padding-left: 10%;
  }
  .container .page-1-head .banner {
    height: 425px;
    width: 350px;
  }
  .container .page-1-head .banner .meniu {
    position: absolute;
    left: 100%;
    top: 0px;
  }
  .container .page-1-head .banner .banner-child-6 {
    right: 0;
    bottom: 0;
  }
  .container .page-1-footer {
    display: grid;
    grid-template-columns: 1fr 9fr;
  }
  .container .page-1-footer .buttons {
    margin-left: 300px;
    height: 62px;
  }
  .container .page-1-footer .buttons img {
    width: 14px;
    height: 23px;
  }
  .container .page-1-footer .buttons img:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .container .page-1-footer .buttons div {
    width: 40px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }
  .container .page-1-footer .DBDBDB {
    background-color: #DBDBDB;
  }
  .container .page-1-footer .navigation {
    background-color: #111111;
  }
}
@media screen and (max-width: 767px) {
  .container .page-1-head .banner-position {
    display: flex;
    justify-content: center;
  }
  .container .page-1-head .banner-position .banner {
    width: 271px;
    height: 425px;
  }
  .container .page-1-head .banner-position .banner .meniu {
    position: absolute;
    left: 77%;
    top: 0px;
  }
  .container .page-1-head .banner-position .banner .banner-child-6 {
    left: 25%;
    bottom: 0;
  }
  .container .page-1-footer {
    height: 65px;
    background-color: #111111;
  }
  .container .page-1-footer img {
    display: none;
  }
}
.page-2 .description {
  color: #222222;
  font-family: "Montserrat", sans-serif;
}
.page-2 .description .heading {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}
.page-2 .description .important-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-color: #222222;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}
.page-2 .description .text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #222222;
}

@media screen and (min-width: 1024px) {
  .page-2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .page-2 .picture {
    background-color: #DBDBDB;
    display: flex;
    justify-content: end;
    height: 425px;
  }
  .page-2 .picture div {
    width: 350px;
    background-color: #898989;
  }
  .page-2 .description {
    padding: 5% 9% 0% 5%;
  }
  .page-2 .description .heading {
    padding-bottom: 5%;
  }
  .page-2 .description .important-text {
    padding-bottom: 4%;
  }
  .page-2 .description .text-gallery {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4%;
    padding-bottom: 4%;
  }
  .page-2 .description .mr-30 {
    padding-right: 13%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .description {
    padding: 5% 15% 6% 15%;
  }
  .description .heading {
    padding-bottom: 5%;
  }
  .description .important-text {
    padding-bottom: 4%;
  }
  .description .text-gallery {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4%;
    padding-bottom: 4%;
  }
  .description .mr-30 {
    padding-right: 13%;
  }
}
@media screen and (max-width: 767px) {
  .picture {
    position: none;
  }
  .description {
    padding: 5% 10% 6% 10%;
    text-align: center;
  }
  .description .heading {
    padding-bottom: 6%;
  }
  .description .mb-5 {
    padding-bottom: 5%;
  }
}
.page-3 {
  background-color: #111111;
}
.page-3 .white-picture-left, .page-3 .white-picture-right {
  background-color: #FFFFFF;
}
.page-3 .gallery-text {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  font-style: normal;
  color: #fefefe;
}

@media screen and (min-width: 1024px) {
  .page-3 {
    padding: 5% 0% 5% 0%;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .page-3 .page-3-left {
    display: flex;
    justify-content: end;
  }
  .page-3 .page-3-left .white-picture-left {
    width: 350px;
    height: 409px;
    border-radius: 2px 0px 0px 2px;
  }
  .page-3 .page-3-right {
    display: flex;
    flex-direction: row;
  }
  .page-3 .page-3-right .white-picture-right {
    width: 272px;
    height: 409px;
    border-radius: 0px 2px 2px 0px;
  }
  .page-3 .page-3-right .padding-l-r {
    padding-left: 3%;
    padding-right: 10%;
  }
  .page-3 .page-3-right .padding-l-r .gallery-text {
    margin-bottom: 7.6%;
  }
  .page-3 .page-3-right .padding-l-r .shelves {
    display: grid;
    grid-template-columns: 107px 107px 107px;
    grid-template-rows: 101px 101px 101px;
    row-gap: 21px;
    column-gap: 15px;
  }
  .page-3 .page-3-right .padding-l-r .shelves .shelf {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }
  .page-3 .page-3-right .padding-l-r .shelves .shelf:hover {
    background-color: #ED1C24;
  }
  .page-3 .page-3-right .padding-l-r .shelves .shelf:hover div {
    filter: blur(2px);
    background-color: #FFFFFF;
    width: 100px;
    height: 94px;
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-3 {
    padding: 5% 15% 6% 15%;
  }
  .page-3 .gallery-text {
    margin-bottom: 20px;
  }
  .page-3 .white-picture {
    width: 595px;
    height: 296px;
    background: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 20px;
  }
  .page-3 .non {
    display: none;
  }
  .page-3 .shelves {
    display: grid;
    grid-template-columns: 107px 107px 107px 107px 107px;
    height: 101px;
    column-gap: 15px;
  }
  .page-3 .shelves .shelf {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    background: #FFFFFF;
    border-radius: 2px;
  }
  .page-3 .shelves .shelf:hover {
    background-color: #ED1C24;
  }
  .page-3 .shelves .shelf:hover div {
    filter: blur(2px);
    background-color: #FFFFFF;
    width: 100px;
    height: 94px;
    border-radius: 2px;
    margin-left: 3px;
    margin-top: 3px;
  }
}
@media screen and (max-width: 767px) {
  .page-3 {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .page-3 .padding-l-r {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .page-3 .padding-l-r .white-picture {
    width: 400px;
    height: 191px;
    border-radius: 2px;
    background: #FFFFFF;
  }
  .page-3 .padding-l-r .gallery-text {
    margin-bottom: 7.6%;
  }
}
.page-4 {
  position: relative;
}
.page-4 iframe {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.page-4 .announcement {
  position: absolute;
  top: 0px;
  color: #FFFFFF;
  background-color: #ED1C24;
  opacity: 0.95;
  padding: 5% 3% 10% 3%;
}
.page-4 .announcement .venue {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  margin-bottom: 8%;
}
.page-4 .announcement .pin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 8%;
}
.page-4 .announcement .pin iframe {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-4 .announcement .pin img {
  position: absolute;
  top: 10px;
  left: 15px;
}
.page-4 .announcement .unite-a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 8%;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 8%;
}
.page-4 .announcement .need {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 8%;
}
.page-4 .announcement .travel-modes div {
  width: 45.1px;
  height: 44.1px;
  border: 1px solid #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .page-4 {
    height: 440px;
  }
  .page-4 iframe {
    height: 100%;
  }
  .page-4 .page-4-child {
    display: grid;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .page-4 .page-4-child .announcement-position {
    display: flex;
    justify-content: end;
  }
  .page-4 .page-4-child .announcement-position .announcement {
    width: 350px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-4 {
    height: 440px;
  }
  .page-4 iframe {
    height: 100%;
  }
  .page-4 .page-4-child {
    padding-left: 10%;
  }
  .page-4 .page-4-child .announcement {
    width: 350px;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .page-4 {
    height: 403px;
  }
  .page-4 iframe {
    height: 100%;
  }
  .page-4 .page-4-child .announcement-position {
    display: flex;
    justify-content: center;
  }
  .page-4 .page-4-child .announcement-position .announcement {
    width: 271px;
    height: 100%;
  }
}
.page-5 {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  background-color: #111111;
  font-size: 14px;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 10%;
}
.page-5 .page-5-child-1 {
  font-size: 18px;
  font-weight: bold;
}
.page-5 .page-5-child-1 .exhibition {
  position: relative;
  left: 0;
  top: -15px;
}
.page-5 .page-5-child-1 .E-element {
  border-color: #FFFFFF;
  border-width: 3px;
  border-style: solid;
  background: rgba(172, 172, 172, 0);
  font-size: 28px;
  padding: 4px 6px 4px 6px;
  margin-right: 5px;
}
.page-5 .page-5-child-2 {
  width: 39px;
  height: 39px;
  border: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-5 .page-5-child-2 img:hover {
  opacity: 0.3;
  cursor: pointer;
}
.page-5 .overview:hover {
  text-decoration: underline;
  text-decoration-color: #ED1C24;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .page-5 {
    height: 164px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .page-5 .page-5-text {
    display: flex;
    flex-direction: row;
  }
  .page-5 .page-5-text .page-5-child-1 {
    margin-right: 20vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-5 {
    height: 164px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .page-5 .page-5-child-1 {
    margin-bottom: 15%;
  }
}
@media screen and (max-width: 767px) {
  .page-5 {
    height: 168px;
    display: flex;
    flex-direction: row;
    padding-top: 10%;
  }
  .page-5 .page-5-child-1 {
    margin-bottom: 20%;
  }
}

/*# sourceMappingURL=index.css.map */
